<h1>My Blog</h1>
<% @blog_posts.map do |value| %>

<ul>
    <li>
        <%= link_to "#{value.title}", blog_posts_path(value)%>
    </li>

</ul>

<% end %>
<%= link_to 'Create A Post', new_blog_post_path%>

